@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */
img{
  width: 100px;
  height: 100px;
}

.item{
  max-width: 30%;
  max-height: auto;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 0px;
  margin-bottom: 0px;
  float:left;
}
#index-gallery{
  width: 100%;
}
div.info {
  padding: 0px;
  text-align: Left;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background-image: radial-gradient(#F97794, #623AA2);
}

.container {
  width: 80%;
  margin: 60px auto;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 33.33%;
  width: 250px;
  height: 150px;
  margin: 1px;
  text-align:center;
  font-family: arial;
  font-size:15px;
  float:left;
}

button{
  background: #6018cc;
  border-radius: 6px;
  cursor: pointer;
  height: 15px;
  line-height: 4px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  width: 95px;

}
button:hover {
  background: #ed3ee4;
  border-radius: 40%;
}
h1{
text-align: center;
}
